.links {
	display: flex;
	width: 100%;
	background: #0088d1;
	justify-content: flex-end;
	align-items: center;
	height: 60px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

nav {
	padding-bottom: 0.5em;
}

button:active {
	transform: scale(0.9);
}

.links nav a {
	color: #000000;
	font-weight: 700;
	border-bottom: 2px solid #0088d1;
	text-decoration: none;
	padding: 2em 2em 1.4em 2em;
	transition: all 0.4s;
}

.links nav a:hover {
	background: #5db8ff;
	text-decoration: none;
	border-bottom: 3px solid #1a237e;
}

.links nav .active {
	background-color: #5db8ff;
	border-bottom-width: 3px;
	border-bottom-color: #1a237e;
}

.posts {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	margin: 10% auto 0 auto;
	flex-wrap: wrap;
	margin: auto;
	width: 80%;
}

.posts .item {
	position: relative;
	display: flex;
	max-height: 14em;
	border: 2px solid rgba(0, 0, 0, 0.2);
	margin: 2em 2em;
	width: 300px;
	flex-direction: column;
	justify-content: center;
	border-radius: 4px;
	background: #f8f8f8;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
	transition: all 0.4s;
	flex-basis: 18em;
	background-size: cover;
	color: #f8f8f8;
}

.posts .item img {
	height: 100%;
	border-radius: 2px;
}

.modal {
	display: flex;
	flex-direction: column;
	position: absolute;
	justify-content: flex-end;
	align-items: center;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0.2) 10%,
		rgba(0, 0, 0, 1)
	);
	width: 100%;
	height: 100%;
	text-align: center;
	border-radius: 0 0 4px 4px;
}

.modal button {
	margin-bottom: 1em;
}

.posts .item:hover {
	transform: scale(1.05);
	border-color: #0088d1;
}

button {
	padding: 0.6em 1.2em;
	background-color: #5db8ff;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s;
	font-size: 14px;
	font-weight: 700;
}

button:hover {
	background: #0088d1;
}

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* overflow: hidden; */
}

.home section {
	margin: auto;
	width: 80%;
	max-height: 800px;
	text-align: center;
}

.home .flip-card img {
	cursor: pointer;
	margin: auto;
	width: 60%;
	max-height: 600px;
	border-radius: 4px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.home div:first-of-type {
	margin-top: 2em;
}

.home strong {
	text-decoration: underline;
}

.post {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-radius: 4px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	width: 80%;
	margin: 1em auto;
	background: #eeeeee;
}

.post img {
	margin: auto;
	max-height: 600px;
	width: 100%;
	opacity: 0.8;
	border-radius: 4px 4px 0 0;
}

.posts .post img {
	border-radius: 4px 4px 0 0;
	width: 100%;
	max-height: 600px;
}

.hero {
	border-radius: 4px 4px 0 0;
	height: 40%;
	width: 100%;
	flex: 1;
}

.content {
	flex-basis: auto;
}

.content h3 {
	text-align: center;
	text-decoration: underline;
	font-size: 1.7rem;
}
.content p {
	width: 80%;
	text-indent: 50px;
	flex: 1;
	margin: 1em auto;
	line-height: 2.5;
}

.about .post h2 {
	text-align: center;
}

.about .post img {
	margin: auto;
	max-height: 600px;
	max-width: 400px;
	margin-bottom: 3em;
}

.flip-card {
	perspective: 10000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */
.front,
.back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.front {
	color: black;
}

/* Style the back side */
.back {
	transform: rotateY(180deg);
}

@media (max-width: 1150px) {
	.posts {
		justify-content: center;
	}

	.post {
		width: 90%;
	}
}
